.titleCard {
    padding-left: 40px;
    color: white;
    font-size: 30px;
    opacity: 90%;
}

.cardDashboard {
    background-color: white;
    opacity: 93%;
    padding: 65px !important;
    float: left !important;
    margin: 40px !important;
    cursor: pointer !important;
}

.cardDashboard:hover {
    opacity: 100% !important;
}