.card[_ngcontent-rkn-c119] {
    height: 160px;
    max-height: 100%;
    width: 290px;
    max-width: 100%;
    transform: translateY(0);
    transition: all .3s ease;
    margin: 0 auto!important;
    font-size: .75rem;
    border: 0.5px solid #dbdbdb;
    border-radius: 5px;
    position: relative;
}
.align-items-center {
    align-items: center!important;
}
.flex-row {
    flex-direction: row!important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.card[_ngcontent-rkn-c119] .image-container[_ngcontent-rkn-c119] {
    display: flex;
    height: auto;
    padding: 14px;
}
.col-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
}
.card[_ngcontent-rkn-c119] .image-container[_ngcontent-rkn-c119] img[_ngcontent-rkn-c119] {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.card[_ngcontent-rkn-c119] .card-container[_ngcontent-rkn-c119] {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 9.3px;
    overflow: hidden;
}
