.header-wallpaper {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(18,18,18, 0.5), #121212 100%), url('../img/vegetais.jpeg');
    background-repeat: no-repeat;
}

.nunito-text {
    font-family: 'Nunito Sans', sans-serif;
}